{% extends "base.html" %}

{% block content %}
  <style>
    #search-bar {
      display: flex;
      margin: 20px 10px;
    }

    #search-bar input {
      width: 100%;
      padding: 10px;
    }

    #search-bar button {
      margin-left: 15px;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
    }

    .search {
      margin: 0px 10px 20px 10px;
      padding: 20px;
      background: #fafaff;
    }

    .search-header {
      height: 40px;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-auto-rows: 300px;
      grid-gap: 20px;
      border-radius: 10px;
    }

    .song-image {
      max-width: 100px;
      max-height: 100px;
      margin-bottom: 10px;
    }

    .grid-item {
      padding: 1rem;
      text-align: left;
      border: 2px solid black;
      display: block;
      color: #666;
      text-decoration: none;
    }

    .song-info {
      height: 300px;
      overflow: hidden;
    }

    .song-title {
      font-size: 10px;
      margin-right: 10px;
    }
  </style>


  <form id="search-bar" action="/search">
    <input type="text" placeholder="Search.." name="search" value="{{ search_term }}">
    <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>

  <div class="bulk-results">
    {% for category, songs in songs_by_category %}
      <div class="search">
        <div class="search-header">
          <a href="search?search={{category}}" class="search-term">"{{ category }}"</a>
        </div>
        <div class="search-results">
          {% for song in songs %}
            <a class="grid-item" href="/song/{{ song.id }}">
              <div class="song-info">
                <div><span><strong>Title : </strong></span><span>{{ song.title }}</span></div>
                <div><span><strong>Artist: </strong></span><span>{{ song.artist_name }}</span></div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
